.btn-controller:nth-child(1) {
  background-color: var(--green);
  font-weight: 200;
  color: black;
  font-size: 16px;
  padding: 20px;
}
.btn-controller:nth-child(2) {
  background-color: var(--red);
  font-weight: 200;
  color: black;
  font-size: 16px;
  padding: 20px;
}

.btn-controller:nth-child(1):hover {
  background-color: rgba(6, 170, 109, 0.5);
}
.btn-controller:nth-child(2):hover {
  background-color: rgba(254, 0, 0, 0.5);
}
#nav-sign-in {
  background-color: #9c938a;
}
