<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/capstone_list.css" />
  </head>
  <body>
    <script defer src="capstone_list.js"></script>

    <div class="capstone_container">
      <div class="capstone_item">
        <img
          src="https://via.placeholder.com/300x200.png?text=Item+1"
          alt="Item 1"
        />
        <h3>Item 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <span>
      <button id="next_page_btn">ADD</button>
      <button id="prev_page_btn">ADD</button>
    </span>
  </body>
</html>
