<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Capstone</title>
    <script defer src="find_capstone.js"></script>
  </head>
  <body>
    <h1>Find Item By:</h1>

    <form>
      <label for="capstone-id">Capstone ID</label>
      <input type="text" id="capstone-id" />
      <button type="submit" id="findByid-capstone-btn">Find</button>
    </form>
    <form>
      <label for="capstone-title">Capstone Title: </label>
      <input type="text" id="capstone-title" />
      <button type="submit" id="findByTitle-capstone-btn">Find</button>
    </form>
    <div id="capstone"></div>
  </body>
</html>
