 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style_group.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>Group Search</title>
</head>

<body>
    <main class="main-section">
        <div class="header-container">
            <div class="header-logo">
                <img src="images/log-170x50.svg" alt="" class="header-log-image">
            </div>
            <div class="nav-header">
                <ul class="nav-header-list">
                    <li class="nav-header-item">Dashboard</li>
                    <li class="nav-header-item">Search</li>
                    <li class="nav-header-item">Group Info</li>
                </ul>
            </div>
            <img src="" alt="" class="profile-image">
        </div>

        <div class="capstone-project-info">
            <div class="capstone-panel">
                <div class="capstone-pannel-in">Group Search</div>
            </div>
            <div class="separator"></div>
        </div>
        <div class="GroupSearchContainer col-md-12  col-sm-12">
            <input id="SearchGroupInput" class="SearchInput" type="text" placeholder="Search Groups or People">
            <button id="SearchBtn" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Search</button>
        </div>
        <div class="GroupLists col-md-12 col-sm-12">
            <ul class="list-group">
               
<!-- 
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle list-group-item"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Group 2
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div> -->
            </ul>

        </div>

        <div id="exampleModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Result</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modalBody" class="modal-body">
                        <div id="SearchResult" class="row">
                            <div id="ResultHeader" class="col-md-11">
                                <h5></h5>
                            </div>

                            <div id="ResultGroupMember" class="col-md-11">
                                <ul id="ResultGroupMemberUL" class="list-group">

                                </ul>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>


    </main>

</body>

</html>

<script>
    const SearchBtn = document.getElementById('SearchBtn');
    const groupList = document.querySelector('.list-group');
    let DummyGroup = [];
    GetAllgroup();
    async function GetAllgroup() {
        
        const response = await fetch('/api/account/groups');
        console.log(response);
        result = await response.json();
        for (let i = 0; i < result.length; i++) {
            DummyGroup.push(result[i]);

        }
        CreateGroupList(DummyGroup);
    }
    function CreateGroupList(DummyGroup) {
        console.log(DummyGroup);
        for (let i = 0; i < DummyGroup.length; i++) {
            const div = document.createElement("div");
            div.className = 'btn-group';

            const button = document.createElement("button");
            button.type = 'button';
            button.className = 'btn btn-primary dropdown-toggle list-group-item';
            button.setAttribute('data-bs-toggle', 'dropdown');
            button.setAttribute('aria-expanded', 'false');
            button.innerText= "Group "+DummyGroup[i].id;

            const ul = document.createElement("ul");
            ul.className = "dropdown-menu";
            const St = document.createElement("li");
            St.className = 'dropdown-item St';
            St.innerText = "Student"
            const hr = document.createElement("hr");
            
            for(let j = 0 ; j < DummyGroup[i].studentList.length; j++){
                const li = document.createElement("li");
                li.className = 'dropdown-item';
                li.innerText = "Student "+[j+1] +" : "+ DummyGroup[i].studentList[j].name;
                ul.appendChild(li);
            }
            if(DummyGroup[i].capstone != null){
                const Cp = document.createElement("li");
                Cp.className = 'dropdown-item St';
                Cp.innerText = "Capstone Project : " + DummyGroup[i].capstone.projectTitle
                ul.appendChild(hr);
                ul.appendChild(Cp);
            
            }
            div.appendChild(button);
            div.appendChild(ul);
            groupList.appendChild(div);
        }

    }

    SearchBtn.addEventListener('click', () => {
        const modalUl = document.querySelector('#ResultGroupMemberUL');
        const ModalLi = modalUl.getElementsByTagName('li');
        for (let k = ModalLi.length - 1; k >= 0; k--) {
                    modalUl.removeChild(ModalLi[k]);
                }
        const SearchGroupInput = document.getElementById('SearchGroupInput');
        let searchGroup = SearchGroupInput.value;
        let cnt = 0;
        let Button;
        if (searchGroup !== "") {
            let buttons = document.querySelectorAll(".dropdown-toggle");
            for (let i = 0; i < buttons.length; i++) {
                console.log(buttons[i].textContent.trim());
                console.log(searchGroup);
                if (buttons[i].textContent.trim() === searchGroup) {
                    cnt = 1;
                    break;
                }
                let lis = buttons[i].nextElementSibling.querySelectorAll("li");

            }
            if (cnt == 1) {
                writeModalByID(searchGroup);
            } else {
                const ModalBodyHeader = document.querySelector("#ResultHeader h5");
                ModalBodyHeader.innerHTML = "Sorry there is no " + searchGroup;
            }
        }
    })


    function writeModalByID(searchGroup) {
        let buttons = document.querySelectorAll(".dropdown-toggle");
        const ModalBodyHeader = document.querySelector("#ResultHeader h5");

        for (let i = 0; i < buttons.length; i++) {
            if (buttons[i].textContent.trim() === searchGroup) {
                ModalBodyHeader.innerHTML = buttons[i].textContent;
                let lis = buttons[i].nextElementSibling.querySelectorAll("li");
                const modalUl = document.querySelector('#ResultGroupMemberUL');
                const ModalLi = modalUl.getElementsByTagName('li');

              

                for (let j = 0; j < lis.length; j++) {
                    console.log(lis[j].textContent);
                    const modalLi = document.createElement('li');
                    modalLi.textContent = lis[j].textContent;
                    modalLi.className = 'list-group-item'
                    modalUl.appendChild(modalLi);
                }
                break;
            }
        }
    }


</script>