<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
  </head>
  <body>
    <script defer src="index.js"></script>
    <div>
      <h2>Create new capstone</h2>
      <label>Name:</label>
      <input type="text" id="capstone_name" />
      <label>Description:</label>
      <input type="text" id="capstone_des" />
      <button id="add_capstone_btn">ADD</button>
    </div>
    <div>
      <h3>Delete Capstone</h3>
      <span>
        <label>ID:</label>
        <input type="text" id="delete_capstone_id" />
        <button id="delete_capstone_btn">Delete</button>
      </span>
    </div>
    <div>
      <h3>Update Capstone</h3>
      <div>
        <span>
          <label>ID:</label>
          <input type="text" id="update_capstone_id" />
        </span>
        <span>
          <label>Name:</label>
          <input type="text" id="update_capstone_name" />
        </span>
        <span>
          <label>Description:</label>
          <input type="text" id="update_capstone_des" />
        </span>
        <button type="submit" id="update_capstone_btn">Update</button>
      </div>
    </div>
  </body>
</html>
