<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Capstone Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${totalPages > 1}">
    <ul class="pagination">
        <li th:class="${currentPage == 0} ? disabled : ''">
            <a th:href="@{/items?page=0}" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:class="${currentPage == 0} ? disabled : ''">
            <a th:href="@{/items?page=${currentPage-1}}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li th:class="${currentPage == i} ? active : ''" th:each="i : ${#numbers.sequence(0, totalPages-1)}">
            <a th:href="@{/items?page=${i}}" th:text="${i+1}"></a>
        </li>
        <li th:class="${currentPage == totalPages-1} ? disabled : ''">
            <a th:href="@{/items?page=${currentPage+1}}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li th:class="${currentPage == totalPages-1} ? disabled : ''">
            <a th:href="@{/items?page=${totalPages-1}}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>