<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    />     <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/login_signup/sign-up.css">
    <link rel="stylesheet" href="css/login_signup/sign-in.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Sign up Page</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-center vh-100 gx-0">
            <div class="row vh-100 mb-5">
                <div class="top col-lg-4 col-md-12 m-auto">
                    <div class="row ">
                        <img src="images/login-signup/capstone-logo-300px.png" alt="" class="top-image d-block mx-auto">
                    </div>
                </div>
                <div class="form col-lg-8 col-md-12 m-auto">
                    <select id="sign-up-role">
                        <option value="Student" selected>Student</option>
                        <option value="Company">Company</option>
                        <option value="Supervisor">Supervisor</option>
                    </select>

                    <div class="sign-up-element">
                        <input class="form-form-element user-name"  type="text" placeholder="User Name" name="uname" required/>
                        <img src="images/login-signup/icon-error.svg" alt="" class="error__icon" />
                        </input>
                        <p class="error error-uname" aria-live="polite"></p>
                    </div>
                    <div class="sign-up-element">
                        <input class="form-form-element password" type="password" placeholder="Password" name="pass"  required minlength="8"/>
                        <img src="images/login-signup/icon-error.svg" alt="" class="error__icon" />
                        <p class="error error-password" aria-live="polite"></p>
                    </div>
                    <div class="sign-up-element">
                        <input class="form-form-element re-enter-password" type="password" placeholder="Enter Password Again" name="re_enter_pass"  required minlength="8"/>
                        <img src="images/login-signup/icon-error.svg" alt="" class="error__icon" />
                        <p class="error error-re-password" aria-live="polite"></p>
                    </div>
                    <div class="controller">
                        <div id ="btn-sign-up" class ="btn-controller">Sign up</div>
                        <div id = "btn-back" class="btn-controller">Back</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        <script defer src="script/sign-up.js"></script>
    
  </body>
</html>